body{
  font-family: 'Ubuntu', sans-serif;
}


.jumbotron {
  color: white;
  background: url(../imagens/slider/banner3.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
  /*background-attachment: fixed;*/
}
.affix {
  background-color: #000;
  -webkit-transition:padding 0.2s ease-out;
  -moz-transition:padding 0.2s ease-out;  
  -o-transition:padding 0.2s ease-out;         
  transition:padding 0.2s ease-out;
}

.habilidades{
	background: url(../imagens/img-fundo.png) no-repeat center center;
	background-size: cover;
	height: 50vh;
	background-attachment: fixed;
}

.container2{
	max-width: 960px;
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}