body{
  font-family: 'Ubuntu', sans-serif;
}

.bg-black{
  background: #0e0e0e;
}
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.posicao{
  /*position: initial;*/
  top: 150px;
}


/* -------------------------- media queires -------------------------- */

/* CLASSE ESPECIAL PARA A FONTE DO PROGRESS CIRCLE "HTML E CSS" */
@media screen and (min-width: 990px) and (max-width: 1200px){
  
}


/* até monitores com largura de 991px */
@media screen and (max-width: 991.98px) {
  
}

/* até tablets com largura de 767px */
@media screen and (max-width: 767.98px) {
  
}

/* até celulares com largura de 575px */
@media screen and (max-width: 575.98px) {
  .linha span:before,
  .linha span:after{
    width: 50%;
  }
}